<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>840020487445-37pcckfaqnkc4prrqs28n77grpsfq1rd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.840020487445-37pcckfaqnkc4prrqs28n77grpsfq1rd</string>
	<key>API_KEY</key>
	<string>AIzaSyBheYzedVUnuvR-0GstqVWK6NzC4Lvz_qg</string>
	<key>GCM_SENDER_ID</key>
	<string>840020487445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thevibecheckr.app</string>
	<key>PROJECT_ID</key>
	<string>vibecheckr-9478f</string>
	<key>STORAGE_BUCKET</key>
	<string>vibecheckr-9478f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:840020487445:ios:7f47a347f294f3dca88d1c</string>
</dict>
</plist>